.btnStart {
    color: $color-button--regular;
    background-color: $color-button--regular-background;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    padding: 15px 1em 10px;
    border-radius: 4em 4em 4em 4em;
    line-height: 23px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    border: 2px solid $color-button--regular-background;
    width: 100%;

    span {
      display: block;
      font-size: 14px;
    }

    &:focus {
      color: $color-button--focus;
      background-color: $color-button--focus-background;
      border: 2px solid $color-button--focus;
    }

}
