/* Shared */

$basemargin: 2rem;
$basemarginSmall: 1rem;

$color-green: #47b31a;
$color-green-light: #add750;

$color-yellow: #FFC346;

$color-orange: #e58f48;
$color-red: #ca2f2f;

$color-gray: #979797;
$color-gray-light: #DFDFDF;
$color-gray-light-light: #f5f5f5;

$color-blue: #0091FF;
$color-blue-light: #D2E6F5;

///////
$color-newsMain: #e13241;
$color-petroleum: #002b37;


//////
$color-bg: $color-gray-light-light;
$color-text: $color-petroleum;

$color-mycket-daligt: $color-newsMain;
$color-ganska-daligt: #ffd2d7;


$color-ganska-bra: #cdf0e6;
$color-mycket-bra: #00dcd2;

$breakpoint-touch: 769px;

@import 'styles/_colors';
@import 'styles/_mixins';

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  font-family: Publik,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: $color-text;
  background-color: $color-bg;
}

.container-wrapper {
  padding: $basemarginSmall;

}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
  padding: $basemarginSmall;
  min-height: 300px;
}

.container__grid-parent {
  display: grid;
  // height: calc(100vh - 4em);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  // grid-row-gap: $basemargin;
}
.container__grid-child {

}
.container__grid-child--2 {
  align-self: end;
  padding-top: $basemargin;
}

@media (max-width: $breakpoint-touch) {

  .container-wrapper {
    padding: $basemarginSmall 0;
  }

  .container__grid-parent {
    height: calc(100vh - 4em);
    grid-template-rows: 5fr 1fr;
  }
  /*
  .root,
  .container-wrapper {
    height: 100%;
    width: 100%;
    display: table;
  }

  .app,
  .container {
    display: table-cell;
  }
  */
}

/* Result Component */
.resultGraphs {
  padding: 0 $basemargin $basemarginSmall $basemargin;
  p {
    text-align: center;
  }
}

.resultGraphics {
  margin: $basemarginSmall/2 0;
}

.resultParties {
  font-size: 12px;
}

.continue {

  padding: $basemarginSmall $basemargin;

  p {
    margin-top: 0;
    text-align: center;
  }
}
.center {
  text-align: center;
  margin-top: $basemarginSmall;
}
.btnDefault {
  color: #333;
  background-color: #fff;

  font-size: 14px;

  padding: 0 2em;

  -webkit-border-radius: 4em 4em 4em 4em;
  -moz-border-radius: 4em 4em 4em 4em;
  border-radius: 4em 4em 4em 4em;

  line-height: 2.5;
  font-weight: normal;

  -webkit-font-smoothing: antialiased;
  border: 1px solid $color-gray;

  // width: 100%;
  margin: 0 auto;

  &:hover {
    // background-color: $color-blue-light;
  }
  &:active, &:focus {
    background-color: $color-blue;
  }
}

.btnStart {
  color: #fff;
  background-color: $svt-color_blue_regular;

  text-decoration: none;
  display: inline-block;



  font-size: 18px;
  text-align: center;

  padding: 15px 1em 10px 1em;

  -webkit-border-radius: 4em 4em 4em 4em;
  -moz-border-radius: 4em 4em 4em 4em;
  border-radius: 4em 4em 4em 4em;

  line-height: 23px;
  font-weight: bold;

  -webkit-font-smoothing: antialiased;
  border: none;

  width: 100%;
  span {
    display: block;
    font-size: 14px;
    opacity: 0.6;
  }
  &:hover {
    // background-color: $color-green-light;
  }
  &:active, &:focus {
    background-color: $color-blue;
  }
}

.btnContinue {
  color: #fff;
  background-color: $svt-color_blue_regular;

  text-decoration: none;
  display: inline-block;

  text-transform: uppercase;
  font-size: 20px;
  text-align: center;

  padding: 0 1em;

  -webkit-border-radius: 4em 4em 4em 4em;
  -moz-border-radius: 4em 4em 4em 4em;
  border-radius: 4em 4em 4em 4em;

  line-height: 2.5;
  font-weight: bold;

  -webkit-font-smoothing: antialiased;
  border: none;

  width: 100%;
  span {
    display: block;
    font-size: 14px;
    opacity: 0.6;
  }
  &:hover {
    // background-color: $color-green-light;
  }
  &:active, &:focus {
    background-color: $color-blue;
  }
}

/* Quiz Component */
.answerOptions, .impWrapper {
  margin: 0.5rem $basemargin $basemarginSmall $basemargin;
  padding: 0;
  list-style: none;
}

.impWrapper {
  color: $color-gray;
  p {
    padding-left: 2em;
  }
}


/* .squaredFour
.squaredFour {
  width: 20px;
  position: relative;
  // margin: 20px auto;
  p {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 2em 0 0 0;
  }
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.5;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    position: absolute;
    top: 2px;
    left: 2px;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
end .squaredFour */

/* QuestionCount Component */
.questionCount {
  padding-top: $basemarginSmall;
  font-size: 14px;
  .barWrapper {
    display: none;
  }
}

.areaName {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  float: left;
  // color: #979797;
}

.barWrapper {
  width: 50%;
  max-width: 300px;
  background: $color-gray-light;
  float: right;
  margin-top: 0.25rem;
  // padding-right: 1rem;
  &--block {
    margin-bottom: 4px;
    float: none;
    max-width: 100%;
    width: 100%;
    background-color: $color-gray-light-light;
    &-bg-striped {
      background: #ffe6d2;
    background: -moz-linear-gradient(left, #ffe6d2 0%, #ffe6d2 65%, #fff0d2 65%, #fff0d2 80%, #d2e6f5 80%, #d2e6f5 100%);
    background: -webkit-linear-gradient(left, #ffe6d2 0%,#ffe6d2 65%,#fff0d2 65%,#fff0d2 80%,#d2e6f5 80%,#d2e6f5 100%);
    background: linear-gradient(to right, #ffe6d2 0%,#ffe6d2 65%,#fff0d2 65%,#fff0d2 80%,#d2e6f5 80%,#d2e6f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe6d2', endColorstr='#d2e6f5',GradientType=1 );

    }
  }
}

.bar {
  background-color: $color-blue;
  height: 0.5rem;
  &--block {
    min-width: 2px;
    height: 0.8rem;
    &-red {
      background-color: $color-red;
    }
    &-yellow {
      background-color: $color-yellow;
    }
  }
}

.resultPercent {

  &--progress {
    display: block;
    text-align: right;
    width: 42%;
    padding: 0 0.3em 0.5em 0;
    border-right: 2px solid $color-blue;
    margin-bottom: -0.5em;
    color: $color-blue;
    font-size: 14px;
  }

}

.partInfo, .partResult, .sectionResult {

  clear: both;
  margin: 0;
  padding: 0.5rem $basemargin 0 $basemargin;

  img {
    width: 100%;
    max-width: 100%;
  }

  h2 {
    padding-top: 0;
    // margin: 0 auto $basemarginSmall auto;
    // text-align: center;
    font-weight: normal;
    font-size: 24px;
  }
  p {
    // text-align: center;
    max-width: 365px;
    // margin: 0 auto $basemarginSmall auto;
  }

}

@import 'styles/progress';

.counterNums {
  // display: none;
  float: right;
}

/* Question Component */
.question, .resultStatement {
  clear: both;
  margin: 0;
  padding: 0.5rem 0 $basemarginSmall 0;
  font-weight: normal;
  font-size: 24px;
  h4 {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 1em 0 0 0;
    border-top: 1px solid $color-gray-light
  }

}


// HERE
.grid-container {


  max-width: 500px;

  margin: 0 auto;
  padding: 0;
  list-style: none;
  /*
  display: grid;



  grid-template-columns: repeat(4, 1fr);
  // grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-template-rows: auto;
  grid-template-areas:
    "choice1 choice2 choice3 choice4"
    "footer footer footer footer";

  li {
    margin: 0;
    padding: 0;
    text-align: center;
  }



  li:first-child {
    grid-area: choice1;
    .radioCustomButton ~ .radioCustomLabel:before {
      background-color: $color-mycket-daligt;
    }
  }

  li:nth-child(2) {
      grid-area: choice2;
      .radioCustomButton ~ .radioCustomLabel:before {
        background-color: $color-ganska-daligt;
      }
  }
  li:nth-child(3) {
      grid-area: choice3;
      // text-align: right;
      .radioCustomButton ~ .radioCustomLabel:before {
        background-color: $color-ganska-bra;
      }
  }
  li:nth-child(4) {
      grid-area: choice4;
      // text-align: right;
      .radioCustomButton ~ .radioCustomLabel:before {
        background-color: $color-mycket-bra;
      }
  }


  li:last-child {
    grid-area: footer;
    text-align: center;
    padding-top: $basemargin;
  }



}

@media (min-width: $breakpoint-touch) {
  .grid-container {
    max-width: 700px;
    margin: 0 0;

    grid-gap: 40px;

    grid-template-areas:
      "choice1 choice2 choice3 choice4 footer";
    }
}


/* AnswerOption Component */
.answerOption {
  // border: 1px solid #eee;
  // text-align: center;
  // margin-bottom: -1px;
}

// Coloring
/*
.answerOption:first-child {

  // color: #23821E;
  .radioCustomButton ~ .radioCustomLabel:before {
    background-color: $color-green
  }

}
.answerOption:nth-child(2) {
  // color: #32A532;
  .radioCustomButton ~ .radioCustomLabel:before {
    background-color: $color-green-light
  }
}
.answerOption:nth-child(3) {
  // color: #F0828C;
  .radioCustomButton ~ .radioCustomLabel:before {
    background-color: $color-orange
  }
}
.answerOption:last-child {
  // color: #B9232D;
  .radioCustomButton ~ .radioCustomLabel:before {
    background-color: $color-red
  }
}
*/

.answerOption:hover {
  // background-color: #eefbfe;
}

.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.radioCustomLabel {
    position: relative;
    width: 100%;
    margin: 0;
    // color: #FFF;
    // padding: $basemarginSmall $basemargin $basemarginSmall $basemargin*2;
}

.radioCustomButton ~ .radioCustomLabel:before {
    position: relative;

    top: 0px;
    left: 0;

    width: 100%;
    height: 0;
    padding: 50% 0;
    margin: 1em auto;
    border-radius: 50%;


    top: 0px;
    left: 0;
    // width: 65px;
    // height: 65px;


    content: '';
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;

    transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background-image: url(./svg/icon-check.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0 0 0 2px #333;
}

/* Animation */
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

///// FORM //////
.padder {
  padding: 0.5em 2em;
}
.aname {

    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    float: left;
    padding-top: 1.5rem;
}
.hed {
    clear: both;
    margin: 0;
    padding: .5rem 0 0 0;
    font-weight: 400;
    font-size: 24px;
}
.ntro {
  font-size: 18px;
  line-height: 22px;
  margin: 1em 0;
}
.frm {
  margin-top: 1em;
  &__options {
    margin-bottom: 1em;
  }
}
.lbl {

  position: relative;
  width: 100%;
  margin: 0;
  // padding: 0.5em 1em 0.5em 3em;
  padding-left: 2.5em;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  color: #333; // $svt-color_green_regular;
  /*
    &:after {
       content: "\A";
       white-space: p re;
       display: block;
       // margin-bottom: 1em;
    }
  */
}

.cbx-wrapper {
  border-radius: 10px;
  border: 1px solid transparent; // $svt-color_green_regular;
  margin-top: 0.5em;
  width: 100%;
  padding: 0.5em;
  &--disabled {
    // border-color: #DFDFDF;
  }
  &--checked {
    background: $svt-color_green_regular;
    color: #FFF;
    .lbl {
      color: #FFF;
    }
  }
}
.cbox {
  position: absolute;
  width: auto;
  opacity: 0;
}
.cbox ~ .lbl:before {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    width: 22px;
    height: 22px;

    content: '';
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border: 1px solid $svt-color_green_regular;
    border-radius: 4px;
    transition: all 0.3s;
}

.cbox:checked ~ .lbl:before {
    content: '';
    background-image: url(./svg/checkon-green.png);
    background-repeat: no-repeat;
    background-size: 22px;
    // box-shadow: 0 0 0 2px #333;
}

.cbox:disabled ~ .lbl:before {
    content: '';
    background-image: none;
    background-color: #DFDFDF;
    border-color: #DFDFDF;
}


.cbox:checked + .lbl {
  // font-weight: bold;
}

.cbox:disabled + .lbl {
  font-weight: normal;
  color: #B7BCC3;
}

.btn {

  font-size: 1rem;
  border-radius: 4em;
  padding: 0 2em;
  line-height: 3;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  margin: .5em 4px 4px 0;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #979797;
  text-decoration: none;
  margin-right: 1em;
  color: #333;
  background: #FFF;

  &--full {
    width: 100%;
  }

  &--primary {
    background-color: $svt-color_blue_regular;
    border-color: $svt-color_blue_regular;
    font-weight: bold;
    color: #FFF;
  }

  &--hidden {
    display: none;
  }
}
.halfImage {
  width: 322px;
  overflow: visible;
}
.crisp {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */

}

.makeMeSticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 0.5rem 2rem;
  background: rgba(254,254,254,0.4);
  box-shadow: 0px 0px 25px #FFFFFF;
}
/*
.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.radioCustomLabel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1em;
    font-size: 16px;
    line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    top: 11px;
    left: 0;
    width: 45px;
    height: 45px;
    // transform: translate(-50%, 0);
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    // background-image: url(./svg/icon-check.svg);
    background-repeat: no-repeat;
    background-size: 43px;
    box-shadow: 0 0 0 2px #333;
}
*/
.linkRegular {
  text-decoration: none;
  color: $color-text;
  border-bottom: 2px solid $color-blue;
}
.tangent {
  display: inline-block;
  border: 1px solid $color-gray-light;
  border-radius: 2px;
  color:  $color-gray;
  font-size: 14px;
  padding: 0 4px;
  margin: 0 0.5em;
  box-shadow: 0 1px 1px 0 $color-gray;
}
.swipe {
  display: none;
}
@media (max-width: $breakpoint-touch) {
  .tangent {
    display: none;
  }
  .swipe {
    display: inline-block;
    width: 50px;
    .svgpath {
      fill: $color-gray;
    }
  }
}

///
.t-circle {
  position: relative;
  width: 20%;
  height: 0;
  padding: 10% 0;
  margin: 1em auto;
  border-radius: 50%;
  background: #a7cd80;
}

.t-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.t-content:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 0;
  height: 100%;
}

.t-content span {
  vertical-align: middle;
  display: inline-block;
}
