/* SVT Graphic Profile https://styleguide.svt.se/identity/color */
/* Red */
/* Orange */
/* Yellow */
/* Green */
/* Turquoise */
/* Blue */
/* Purple */
/* Gray */
/* Warm Gray */
/* Cool Gray */
/* Black & White */
/**
 * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 *
 * .card {
 *     transition: all 250ms;
 *     @include box_shadow(1);
 *     &:hover {
 *         @include box_shadow(3);
 *         transform: translateY(-5px);
 *     }
 * }
 *
 */
html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%; }

body {
  background: #eee;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Publik, sans-serif;
  color: #000000; }

p {
  margin: 0;
  padding: 0 0 0.5em 0; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #000000;
  /*
  &:hover {
    color: $color-hover;
  }
  &:active {
    color: $color-click;
  }
  &:focus {
    color: $color-text;
  }
  */ }

.root {
  height: 100%; }

.typo-page-head {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 24px; }

.typo-svt-slash {
  font-weight: 900;
  margin-right: 0.5em; }

.typo-h1 {
  font-size: 32px;
  line-height: 35px;
  font-weight: bold;
  padding-bottom: 0.5em; }
  @media (min-width: 768px) {
    .typo-h1 {
      font-size: 42px;
      line-height: 47px; } }

.typo-question {
  font-size: 28px;
  line-height: 31px;
  font-weight: bold;
  padding-bottom: 0; }
  @media (min-width: 768px) {
    .typo-question {
      font-size: 32px;
      line-height: 35px; } }

.btnStart {
  color: #FFF;
  background-color: #002b37;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  padding: 15px 1em 10px;
  border-radius: 4em 4em 4em 4em;
  line-height: 23px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  border: 2px solid #002b37;
  width: 100%; }
  .btnStart span {
    display: block;
    font-size: 14px; }
  .btnStart:focus {
    color: #002b37;
    background-color: #d8d8d8;
    border: 2px solid #002b37; }

/**
 * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 *
 * .card {
 *     transition: all 250ms;
 *     @include box_shadow(1);
 *     &:hover {
 *         @include box_shadow(3);
 *         transform: translateY(-5px);
 *     }
 * }
 *
 */
/* SVT Graphic Profile https://styleguide.svt.se/identity/color */
/* Red */
/* Orange */
/* Yellow */
/* Green */
/* Turquoise */
/* Blue */
/* Purple */
/* Gray */
/* Warm Gray */
/* Cool Gray */
/* Black & White */
.db-p {
  background-color: rgba(136, 39, 152, 0.2); }

.db-c {
  background-color: rgba(53, 192, 180, 0.2); }

.app {
  max-width: 748px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto; }

.card-main {
  display: block;
  background: #FFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  padding: 10px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .card-main {
      padding: 20px; } }
  @media (min-width: 1024px) {
    .card-main {
      padding: 20px;
      margin-top: 20px;
      min-height: auto; } }
  .card-main--overflow-x {
    overflow-x: hidden; }

.layout-main {
  display: grid;
  grid-template-rows: minmax(52px, max-content) 1fr;
  grid-gap: 40px;
  min-height: 100%; }

.layout-main-child--one {
  min-height: 52px; }

.layout-main-child--two {
  position: relative; }

.sublayout-head {
  height: auto;
  display: grid;
  grid-template-columns: 40px 1fr 1fr;
  grid-gap: 10px; }
  .sublayout-head__progress {
    grid-row: 2;
    grid-column: 1 / 4; }

.container, .container__child {
  height: 100%; }
  @media (min-width: 1024px) {
    .container, .container__child {
      height: auto;
      min-height: 250px; } }

.extra {
  padding-bottom: 5px; }

.label {
  padding-bottom: 5px;
  color: #67bdba; }

.label-4 {
  text-align: right; }

.footer-skip {
  text-align: center;
  padding: 20px 10px 10px 10px; }

.sublayout-main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr fit-content(210px);
  grid-template-areas: "upper" "jumper" "lower";
  grid-gap: 20px;
  /*
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 15px 10px;
  grid-gap: 10px;

  grid-template-areas:
    "question question question question"
    "args args args args"
    "xtra xtra xtra ."
    "label-1 label-1 label-4 label-4"
    "option-1 option-2 option-3 option-4"
    "footer-skip footer-skip footer-skip footer-skip";

    */ }
  @media (min-width: 1024px) {
    .sublayout-main {
      height: auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: "upper" "lower" "jumper"; } }
  .sublayout-main__upper {
    grid-area: upper; }
    @media (min-width: 1024px) {
      .sublayout-main__upper {
        min-height: 110px;
        padding-bottom: 20px; } }
  .sublayout-main__jumper {
    grid-area: jumper; }
  .sublayout-main-child--three {
    grid-area: lower; }
  .sublayout-main__lower {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; }

.question {
  font-size: 28px;
  line-height: 31px;
  font-weight: bold;
  padding-bottom: 0; }
  @media (min-width: 768px) {
    .question {
      font-size: 32px;
      line-height: 35px; } }

.label-area, .counter-area, .bwd-area {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 2; }

.label-area {
  display: inline-block;
  background: #002b37;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-weight: bold;
  padding: 0 0.75em; }

.bwd-area {
  text-decoration: none;
  font-size: 40px;
  line-height: 30px; }

.important-area {
  display: inline-block;
  color: #FFF;
  background: #7d9196;
  position: relative;
  line-height: 1.6;
  padding: 0 10px;
  /*Hide the checkmark by default*/
  /*Unhide the checkmark on the checked state*/ }
  .important-area input[type="checkbox"] {
    opacity: 0; }
  .important-area label::before {
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    background: #FFF;
    position: absolute;
    top: 4px;
    left: 5px; }
  .important-area label::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    position: absolute;
    top: 8px;
    left: 9px; }
  .important-area input[type="checkbox"] + label::after {
    content: none; }
  .important-area input[type="checkbox"]:checked + label::after {
    content: ""; }

.head-count {
  text-align: right; }

.progbar {
  background: #d8d8d8; }
  .progbar__inner {
    background: #002b37;
    height: 8px;
    width: 33%; }

.makeMeSticky {
  position: sticky;
  top: 0;
  padding: .5rem 2rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.8); }

.woho-enter {
  width: 100%;
  position: absolute;
  top: 0;
  left: 2500px; }

.woho-enter.woho-enter-active {
  transition: all .4s ease-in-out .5s;
  left: 0; }

.woho-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.woho-leave.woho-leave-active {
  left: -2500px;
  transition: all .4s ease-in-out .5s; }

.party {
  background: #000;
  color: #FFF;
  width: 32px;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.3; }
  .party-longname {
    color: red;
    display: inline-block;
    overflow: hidden;
    width: 1px; }
  .party-l {
    background-color: #2891c8; }
  .party-m {
    background-color: #7dbee1; }
  .party-kd {
    background-color: #0f418c; }
  .party-c {
    background-color: #32a532; }

.parties {
  display: none;
  background-color: #f5f5f5; }
  .parties__row {
    border-top: 1px solid #FFF;
    position: relative;
    padding: 20px; }
    .parties__row__interact {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      font-size: 1.5em; }
    .parties__row__figure {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      width: 32px; }
  .parties h2, .parties p {
    font-size: 1em;
    text-indent: 60px;
    margin: 0;
    padding: 0; }
  .parties p {
    display: inline-block; }
  .parties h2 {
    font-weight: bold; }

@keyframes blinkers {
  0% {
    background-color: #00dcd2; }
  10% {
    background-color: #00dcd2; }
  11% {
    background-color: #cdf0e6; }
  20% {
    background-color: #cdf0e6; }
  21% {
    background-color: #00dcd2; }
  30% {
    background-color: #00dcd2; }
  31% {
    background-color: #cdf0e6; }
  40% {
    background-color: #cdf0e6; }
  41% {
    background-color: #00dcd2; }
  100% {
    background-color: #00dcd2; } }

.likert {
  height: 125px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  .likert__label {
    display: block;
    width: 100%;
    cursor: pointer; }
    .likert__label span {
      position: absolute;
      bottom: 80px;
      left: 0;
      width: 100%; }
  .likert__option {
    text-align: center;
    position: relative; }
    .likert__option:first-child .likert__label {
      text-align: left; }
    .likert__option:first-child .likert__radio ~ .likert__label:after {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-right: none;
      background-image: url(./svg/emoj-vb.svg); }
    .likert__option:nth-child(2) .likert__label__text, .likert__option:nth-child(3) .likert__label__text {
      overflow: hidden;
      text-indent: -9999px; }
    @media (min-width: 768px) {
      .likert__option:nth-child(2) .likert__label__text, .likert__option:nth-child(3) .likert__label__text {
        text-indent: 0; } }
    .likert__option:nth-child(2) .likert__radio ~ .likert__label:after {
      background-image: url(./svg/emoj-pb.svg);
      border-right: none; }
    .likert__option:nth-child(3) .likert__radio ~ .likert__label:after {
      background-image: url(./svg/emoj-pg.svg); }
    .likert__option:last-child .likert__label {
      text-align: right; }
    .likert__option:last-child .likert__radio ~ .likert__label:after {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-left: none;
      background-image: url(./svg/emoj-vg.svg); }
    .likert__option .likert__radio:checked ~ .likert__label:after {
      content: '';
      background-image: url(./svg/icon-check.svg) !important;
      animation: blinkers 1.2s;
      animation-iteration-count: 1; }
  .likert__radio {
    position: absolute;
    width: auto;
    opacity: 0; }
  .likert__label {
    cursor: pointer;
    color: #00dcd2; }

.likert__radio ~ .likert__label:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #cdf0e6;
  border: 2px solid #00dcd2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 43px; }

.emoji {
  fill: #94d31b;
  width: 33%;
  max-width: 45px;
  opacity: 0.8; }

.keyHint {
  font-size: 12px;
  color: #d8d8d8;
  display: block; }

.option-1 {
  border: 2px solid #d8d8d8;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: none; }

.option-2 {
  border: 2px solid #d8d8d8;
  border-right: none; }

.option-3 {
  border: 2px solid #d8d8d8;
  border-right: none; }

.option-4 {
  border: 2px solid #d8d8d8;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; }
