@import 'styles/colors';
@import 'styles/mixins';

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

body {
  background: #eee;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Publik, sans-serif;
  color: $color-text;

}

p {
  margin: 0;
  padding: 0 0 0.5em 0;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {

  color: $color-text;
  /*
  &:hover {
    color: $color-hover;
  }
  &:active {
    color: $color-click;
  }
  &:focus {
    color: $color-text;
  }
  */
}

.root {
  overflow-x: hidden;
  height: 100%;
}

@import 'styles/app';
